:root {
    --color-msg-error:#FF1466;
    --border-boton-send:#8B50B4;
    --color-secundary: #c172fa;
    --border-boton-restart:#808080;
}

body {
    background-image: linear-gradient(to left top, #ff1466, #fd2f86, #f647a3, #ea5dbc, #da70d2, #d16fda, #c56fe1, #b86fe9, #b05dea, #a849ec, #9f32ed, #950aee);
    width: 100vw;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "baloo-regular";
}

.center-rows {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-columns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section {
    width: 100vw;
    min-height: 70vh;
    padding-right: 20px;
    padding-left: 20px;
}

.section--send-mail {
    height: 450px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.send-mail {
    width: 100%;
    border-radius: 5px;
    box-shadow: -2px -3px 37px 2px rgba(0,0,0,.3);
}

.send-mail__header {
    border-radius: 5px 5px 0px 0px;
    background: rgba(8, 8, 8, 0.24);
    align-self: stretch;
}

.send-mail__title {
    margin: 0px;
    padding: 15px;
    text-align: center;
    color: white;
    letter-spacing: 2px;
}

.send-mail__main {
    align-self: stretch;
    border-radius: 0px 0px 5px 5px;
    background: rgb(255, 255, 255);
}

.form {
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.form__label {
    align-self: flex-start;
}

.form__error {
    color: red;
    margin-left: 8px;
    font-size: 12px;
}

.form__input {
    align-self: stretch;
    margin-bottom: 5px;
    background: #e7e7e7;
    padding: 0px 5px;
    border-radius: 3px;
    border: 1px solid white;
    font-family: "baloo-regular";
    font-size: 15px;
    resize: none;
}

.form__input:focus {
    outline: 1px solid grey;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.input--send {
    width: 45%;
    border-radius: 4px;
    font-family: "baloo-bold";
    font-size: 15px;
    letter-spacing: 2px;
    color: var(--border-boton-send);
    padding: 5px;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,.3);
    border: 1px solid var(--border-boton-send);
    background: white;
    cursor: pointer;
}

.input--send:focus {
    outline: none;
}

.input--send:active {
    transition: all 0.3s ease;
    box-shadow: none;
}

.input--restart {
    width: 45%;
    border: 1px solid var(--border-boton-restart);
    border-radius: 4px;
    font-family: "baloo-bold";
    font-size: 15px;
    letter-spacing: 2px;
    color: grey;
    padding: 5px;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,.3);
    background: white;
    cursor: pointer;
}

.input--restart:focus {
    outline: none;
}


.input--restart:active {
    transition: all 0.3s ease;
    box-shadow: none;
}

.disabled-input {
    box-shadow: none;
    opacity: 0.5;
    cursor: not-allowed;
}

.disabled-span {
    opacity: 0;
}

.error {
    border-bottom: 1px solid;
    border-bottom-color: var(--color-msg-error);
}

.loader {
    display: none;
    align-self: center;
    position: relative;
    width: 30px;
    height: 30px;
    margin: 5px;
}

.loader__element {
    position: absolute;
    width: 70%;
    height: 70%;
    border: 3px solid transparent;
    border-top-color: var(--border-boton-send);
    border-left-color: var(--border-boton-send);
    border-radius: 50%;
    animation: loader 1.2s linear infinite;
}

.confirmation-message {
    width: 100%;
    text-align: center;
    align-self: center;
    padding: 2px 0px;
    background: var(--border-boton-send);
    color: white;
    border: 1px solid var(--border-boton-send);
    border-radius: 4px;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


@font-face {
    font-family: "baloo-regular";
    src: url('../assets/fonts/BalooPaaji2-Regular.ttf');
}

@font-face {
    font-family: "baloo-bold";
    src: url('../assets/fonts/BalooPaaji2-Bold.ttf');
}

@media screen and (min-width: 768px) {
    .send-mail {
        width: 70%;
    }
}

@media screen and (min-width: 1024px) {
    .send-mail {
        width: 50%;
    }
}

@media screen and (min-width: 1440px) {
    .send-mail {
        width: 30%;
    }
}